.tabla {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid var(--color-secundary);
    text-align: center;
}

thead th {
    background-color: var(--color-secundary);
    color: var(--color-text-light);
    font-size: 1rem;
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: var(--color-text-light);
}

tbody {
    background-color: color-mix(in srgb, var(--color-text-light) 50%, transparent);
}

tbody tr:hover {
    background-color: color-mix(in srgb, var(--color-secundary) 70%, transparent);
    transition: background-color 0.3s ease;
    color: var(--color-text-light);
    cursor: pointer;
}

td button {
    background-color: var(--color-button);
    color: white;
    border: none;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
}

td button:hover {
    background-color: #ed504b;
}

.container_button {
    display: flex;
    justify-content: end;
    width: 95vw;
    padding-bottom: 10px;
}

.button_crear {
    border: none;
    padding: 8px;
    border-radius: var(--borde-radio);
    background-color: var(--color-button);
    color: var(--color-text-light);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.button_crear:hover {
    transform: scale(1.05);
}

/* EStilos del modal para creación y actualización */
.modal_empleado{
    border-radius: var(--borde-radio);
}

.titulo {
    color: var(--color-title) !important;
}

.modal-header {
    background-color: var(--color-secundary);
    border-radius: var(--borde-radio) var(--borde-radio) 0 0;
}

.button_close {
    background-color: var(--color-text-light);
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal-body input {
    width: 100%;
    height: 2rem;
    border-radius: var(--borde-radio);
    border: 1px solid var(--color-secundary);
    padding: 2px 8px;
}

.decision {
    display: flex;
    margin-bottom: 5px;
}