<div class="tabla">
    <table>
        <thead>
            <tr>
                <th>CODIGO EMPLEADO</th>
                <th>NOMBRE</th>
                <th>APELLIDOS</th>
                <th>FECHA DE INGRESO</th>
                <th>CARGO</th>
                <th>DEPARTAMENTO</th>
                <th>EMPLEADO DIRECTO</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            @for (empleado of allEmployees; track $index) {
            <tr>
                <td>{{empleado.employeeCode}}</td>
                <td>{{empleado.name}}</td>
                <td>{{empleado.lastName1}} {{empleado.lastName2}}</td>
                <td>{{empleado.entryDate | date:'dd/MM/yyyy'}}</td>
                <td>{{empleado.cargo}}</td>
                <td>{{empleado.departmentCode}}</td>
                @if (empleado.isDirect === true) {
                <td><i class="bi bi-check-square-fill"></i> Si</td>
                } @else {
                <td><i class="bi bi-x-square-fill"></i> No</td>
                }
                <td>
                    <button data-bs-toggle="modal" data-bs-target="#modalUpdate" (click)="loadEmployeeForEdit(empleado)"><i class="bi bi-pen-fill"></i></button>
                    <button><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div class="container_button">
        <button class="button_crear" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-person-plus-fill"></i> Crear empleado
        </button>
    </div>
</div>
<!-- Modal para creación -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal_empleado modal-content">
            <div class="modal-header">
                <h3 class="modal-title titulo fs-5" id="exampleModalLabel">Creación de empleado</h3>
                <button type="button" class="btn-close button_close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="modal-body" [formGroup]="createForm" (ngSubmit)="createEmployee()">
                <div>
                <label for="name">Nombre</label> <br>
                <input type="text" placeholder="Ingrese el nombre" formControlName="name"> <br>
                </div>
                <div>
                <label for="lastName1">Primer apellido</label> <br>
                <input type="text" placeholder="Ingrese el primer apellido" formControlName="lastName1"> <br>
                </div>
                <div>
                <label for="lastName2">Segundo apellido</label> <br>
                <input type="text" placeholder="Ingrese el segundo apellido" formControlName="lastName2"> <br>
                </div>
                <div>
                <label for="entryDate">Fecha de ingreso</label> <br>
                <input type="date" placeholder="Seleccione la fecha de ingreso" formControlName="entryDate"> <br>
                </div>
                <div>
                <label for="cargo">Cargo</label> <br>
                <input type="text" placeholder="Ingrese el cargo" formControlName="cargo"> <br>
                </div>
                <div>
                <label for="departmentCode">Código del departamento</label> <br>
                <input type="number" placeholder="Ingrese el código del departamento" formControlName="departmentCode"> <br>
                </div>
                <span>¿Es empleado directo?</span> <br>
                <div class="decision">
                    <label for="isDirectYes">Si</label>
                    <input type="radio" name="isDirect" value="true" formControlName="isDirect">
                    <label for="isDirectNo">No</label>
                    <input type="radio" name="isDirect" value="false" formControlName="isDirect">
                </div>
                <button class="button_crear">
                    <i class="bi bi-person-plus-fill"></i> Crear empleado
                </button>
            </form>
        </div>
    </div>
</div>
<!-- Modal para edición -->
<div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="modalUpdate" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal_empleado modal-content">
            <div class="modal-header">
                <h3 class="modal-title titulo fs-5" id="modalUpdate">Edición de empleado</h3>
                <button type="button" class="btn-close button_close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="modal-body" [formGroup]="createForm" (ngSubmit)="updateEmployee()">
                <div>
                <label for="name">Nombre</label> <br>
                <input type="text" placeholder="Ingrese el nombre" formControlName="name"> <br>
                </div>
                <div>
                <label for="lastName1">Primer apellido</label> <br>
                <input type="text" placeholder="Ingrese el primer apellido" formControlName="lastName1"> <br>
                </div>
                <div>
                <label for="lastName2">Segundo apellido</label> <br>
                <input type="text" placeholder="Ingrese el segundo apellido" formControlName="lastName2"> <br>
                </div>
                <div>
                <label for="entryDate">Fecha de ingreso</label> <br>
                <input type="date" placeholder="Seleccione la fecha de ingreso" formControlName="entryDate"> <br>
                </div>
                <div>
                <label for="cargo">Cargo</label> <br>
                <input type="text" placeholder="Ingrese el cargo" formControlName="cargo"> <br>
                </div>
                <div>
                <label for="departmentCode">Código del departamento</label> <br>
                <input type="number" placeholder="Ingrese el código del departamento" formControlName="departmentCode"> <br>
                </div>
                <span>¿Es empleado directo?</span> <br>
                <div class="decision">
                    <label for="isDirectYes">Si</label>
                    <input type="radio" name="isDirect" value="true" formControlName="isDirect">
                    <label for="isDirectNo">No</label>
                    <input type="radio" name="isDirect" value="false" formControlName="isDirect">
                </div>
                <button class="button_crear">
                    <i class="bi bi-person-plus-fill"></i> Crear empleado
                </button>
            </form>
        </div>
    </div>
</div>