.info_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1, h2 {
    color: var(--color-title);
    text-align: center;
}
.container {
    background-color: var(--color-text-light);
    border-radius: var(--borde-radio);
    padding: 10px;
    margin: 20px;
    width: 482px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.6);
}

.img_center {
    width: 135px;
    height: 135px;
}

p {
    font-size: 1.5rem;
}

.button {
    background-color: var(--color-button);
    text-decoration: none;
    color: var(--color-text-light);
    padding: 10px;
    border-radius: var(--borde-radio);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.button:hover {
    transform: scale(1.1);
}

@media screen and (min-width: 400px) and (max-width: 820px) {
    .img_center {
        display: none;
    }
}