.info_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1, h2 {
    color: var(--color-title);
    text-align: center;
}
.container {
    background-color: var(--color-text-light);
    border-radius: var(--borde-radio);
    padding: 10px;
    margin: 20px;
    width: 482px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.img_center {
    width: 135px;
    height: 135px;
}

@media screen and (min-width: 400px) and (max-width: 820px) {
    .img_center {
        display: none;
    }
}