div {
    background-color: var(--color-secundary);
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    margin: 0;
    color: var(--color-text-light);
}